<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li *ngIf="isAuthenticated"><a class="section-button" routerLink="/make-picks">Make picks</a></li>
                <li *ngIf="isAuthenticated"><a class="section-button" routerLink="/pick-history">Pick history</a></li>
                <li *ngIf="isAuthenticated" ><a class="section-button" routerLink="/scores">Game scores</a></li>
                <li *ngIf="isAuthenticated" ><a class="section-button" routerLink="/calendar">Results calendar</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated"><a class="section-button" routerLink="/account">Account</a></li>
                <li>
                    <a class="section-button" *ngIf="!isAuthenticated" routerLink="/auth">Sign in</a>
                    <a class="section-button" *ngIf="isAuthenticated" (click)="onLogOut()">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>