<div class="row" *ngIf="seasonRecordData">
    <div class="col-xs-12" *ngIf="seasonRecordData.wins >= 0">
        Season record: {{seasonRecordData.wins}} - {{seasonRecordData.losses}} - {{seasonRecordData.ties}}
    </div>

    <div class="col-xs-12" *ngIf="seasonRecordData.wins < 0">
        You don't seem to have any graded picks yet. Check this page tomorrow, or after the page refreshes next.
    </div>
</div>

<div class="row" *ngIf="visibleRecordData">
    <div class="col-xs-12" *ngIf="visibleRecordData.wins >= 0">
        Record this week: {{visibleRecordData.wins}} - {{visibleRecordData.losses}} - {{visibleRecordData.ties}}
    </div>
</div>


<div class="row" *ngIf="dates">
    <div class="col-xs-12" *ngFor="let date of dates">
        <app-pick-row [date]="date" [user]="username"></app-pick-row>
    </div>
</div>